
/* CSS Style Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Variable Declaration */

:root {
    --gray-accent: whitesmoke;
	--green-accent: #318CE7;
	--green-accent: #74992E;
}

/* Base Styling */

body {
    font-size: 16px;
    font-family: Garamond, sans-serif;

	display: flex;
	flex-direction: column;
	align-items: center;
}

button {
	font-size: 16px;
    font-family: Garamond, sans-serif;
	border: none;
}

*:focus {
	text-decoration: underline !important;
	outline: none;
}

/* Nav Styling */

nav {
	display: flex;
	justify-content: space-between;

	align-self: stretch;
	background-color: var(--gray-accent);
}

nav .nav-container {
	display: flex;
}

nav .nav-title, nav .nav-container .nav-item {
	padding: 1rem 2rem;
}

nav .nav-container .nav-item:hover {
	cursor: pointer;
	background-color: var(--green-accent);
	transition: 0.5s ease-in-out;
}

/* Nav Styling - Drop-Down Menu */

.drop-down-container {
	position: relative;
	display: flex;
	flex-direction: column;
	text-align: center;

	width: 20ch;
	cursor: pointer;
}

.drop-down-title {
	padding: 1rem 2rem;
	background-color: var(--gray-accent);
}

.drop-down-menu {
	display: none;
	width: 100%;
	background-color: var(--gray-accent);
}

.drop-down-menu > li {
	padding: 1rem 2rem;
	z-index: 2;
}

.drop-down-title:hover, .drop-down-menu > li:hover {
	background-color: var(--green-accent);
	transition: 0.5s ease-in-out;
}

.drop-down-menu.reveal {
	position: absolute;
	top: 100%;
	z-index: 2;
	
	display: block;
	animation: expand 0.5s ease-in-out;
	transform-origin: top;
}
  
@keyframes expand {
	0% {
		transform: scaleY(0);
		opacity: 0;
	}

	100% {
		transform: scaleY(1);
		opacity: 1;
	}
}

/* Image Slider */

.slide-container {
	position: relative;
	color: white;
}

.slide-container .slide {
	display: none;
}

.slide-container .slide .number {
	position: absolute;
	left: 0.5rem;
	top: 0.5rem;
}

.slide-container .slide img {
	display: block;
	max-width: 100vw;
	max-height: calc(100vh - 50px);
}

.slide-container .slide .caption {
	position: absolute;
	bottom: 3rem;
	left: 50%;
	transform: translate(-50%, 0);
}

.slide-container .slide .caption a {
	color: white;
	text-decoration: none;
}

.slide-container .slide .caption a:hover {
	text-decoration: underline;
}

.slide-container .slide.reveal {
	display: block;
	animation: fadeIn 1s ease-in-out;
}
  
@keyframes fadeIn {
	from {
		opacity: 0.2;
	}

	to {
		opacity: 1;
	}
}

/* Image Slider - Prev / Next Arrows */

.slide-container .arrow {
	position: absolute;
	top: 0;
	height: 100%;
	padding: 0 0.5rem;
	color: black;

	display: flex;
	align-items: center;
}

.slide-container .arrow:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.5);
	transition: 0.5s ease-in-out;
}

.slide-container .arrow#next {
	right: 0;
}

/* Image Slider - Slide Dots */

.slide-container .dot-container {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);

	display: flex;
	gap: 1rem;
	padding: 1rem;
}

.slide-container .dot-container .dot {
	display: block;
	height: 1rem;
	width: 1rem;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.8);
}

.slide-container .dot-container .dot.active {
	background-color: rgba(116, 153, 46, 0.8);
}

.slide-container .dot-container .dot:hover {
	cursor: pointer;
	background-color: rgba(116, 153, 46, 0.8);
	transition: 0.25s ease-in-out;
}
